<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- SIMON script async loading -->
<script type="application/javascript">

    getEntryByTestpoint = function(ip) {
        entries = performance.getEntries();
        for(e in entries) {
            entry = entries[e];
            if(entry["name"].indexOf(ip) > 0) return entry;
        }
    };

    (function (d, s) {
        var js = d.createElement(s),
                sc = d.getElementsByTagName(s)[0];

        js.src = "http://simon.lacnic.net/simon/static/simon_app/js/simon_probe_plugin.js";//http://simon.lacnic.net/simon/static/simon_app/js/simon_probe_plugin.js";
        js.type = "text/javascript";
        sc.parentNode.insertBefore(js, sc);


        js.onload = js.onreadystatechange = function () {

            SIMON.after_points = function () {
                var testPoint = {
                    "ip": '190.12.32.12',
                    "url": 'prueba-001',
                    "country": 'UY',
                    "countryName": 'Uruguay',
                    "city": 'Montevideo',
                    "region": 'S-A',
                    "results": [],
                    "results_webtimingapi" : [],
                    "throughputResults": [],
                    "online": false,
                    "onlineFinished": false
                };

                SIMON.points = [testPoint];
            };

            SIMON.after_each = function() {};
            SIMON.print = false;

            SIMON.after_end = function() {
                for(t in SIMON.points) {
                    cur_html = $("#output").html();

                    SIMON.log(SIMON.points[t].results);
                    SIMON.log(getEntryByTestpoint(SIMON.points[0].ip).duration);

                }
            };

            SIMON.params.numTests = 10;

            api = performance.timing;
            $("#output").html(api.connectEnd - api.connectStart + "<br>");

            SIMON.init();
        };

    }(document, "script"));

</script>

<div id="output" class="row">
</div>

</body>
</html>